name: Svelte application

on:
  push:
   branches: [ main ]
  pull_request:
    branches: [ main ]
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build & Push Image
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "lawknight" --password-stdin
        docker image build -t lawknight/law-blog:latest .
        docker push lawknight/law-blog:latest